@import '../../../../utils/variables';

.component {
  display: flex;
  min-width: 100%;
  width: 100%;
  height: calc(100vh - #{$sidebarHeight});
  flex-direction: column;
}

.header {
  display: flex;
  height: 122px;
  background-color: $backgroundColorWhite;
  flex-direction: column;
  width: 100%;

  h2 {
    @include default();
    @include medium-text(30px, 120%, $mainBlue);
    font-family: 'Ubuntu';
    margin: 20px 0 0 40px;
    height: 40px;
    align-self: baseline;
  }

  .panelTabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .tabs {
      display: flex;
      height: 22px;
      margin: 20px 0 0 40px;
      @include regular-text(16px, 24px, $black);
      width: 100%;

      .item {
        display: flex;
        margin-right: 50px;
      }

      .active {
        @include bold-text(16px, 16px, $black);

        border-bottom: 2px solid #005596;
      }

      .link {
        @include defaultButton();
        // @include bold-text(16px, 24px, $black);

        // color: $black;
        // text-decoration: none;
        background-color: $backgroundColorWhite;
      }
    }

    .control {
      display: flex;
      margin-right: 20px;
      height: 20px;

      &Icon {
        @include defaultButton();
        display: flex;
        width: 20px;
        margin-left: 20px;
        background-color: $backgroundColorWhite;
      }
    }
  }
}

.main {
  display: flex;
  background-color: $backgroundColorMain;
  height: 100vh;
  width: 100%;
  margin-top: 20px;

  .table {
    display: flex;
    @include default();
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
  }

  .headerTable {
    @include default();
    @include regular-text(16px, 16px, $textGrey);
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid $textGrey;
    height: 24px;
    padding: 24px 0 10px 0;
    width: 100%;
  }

  .rowTable {
    @include default();
    @include regular-text(16px, 16px, $mainBlack);
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid $textGrey;
    height: 48px;
    padding: 16px 0 10px 0;
    width: 100%;
  }

  .item {
    display: flex;
    @include default();
    padding-right: 2.5%;
    text-align: left;
    align-self: center;

    &:nth-child(1) {
      max-width: 180px;
      width: 100%;
    }

    &:nth-child(2) {
      max-width: 530px;
      width: 100%;
    }

    &:nth-child(3) {
      max-width: 360px;
      width: 100%;
    }

    &:nth-child(4) {
      max-width: 360px;
      width: 100%;
    }
  }

  .unActive {
    @include regular-text(16px, 16px, $textGrey);
  }

  .link {
    color: $mainBlack;
  }
}
