@import '../../../../../../../utils/variables.scss';

@mixin window($color) {
  border-radius: 32px;
  box-shadow: 0 0 4px rgba(27, 27, 27, 0.3);
  background-color: $color;
}

@mixin windowContent() {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(27, 27, 27, 0.3);
  border-radius: 8px;

  span {
    @include default();
    @include regular-text(14px, 16px, $textGrey);
  }
  p {
    @include default();
    @include bold-text(18px, 24px, $mainBlue);
    text-align: start;
  }
  .min {
    @include bold-text(16px, 18px, $mainBlue);
  }
}

.title {
  display: flex;
  height: 42px;
  min-width: 600px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $lightGrey;

  &One {
    justify-content: flex-start;
  }

  p {
    @include default();
    @include medium-text(24px, 29px, $mainBlue);
    font-family: 'Ubuntu', sans-serif;
  }
}

.iconOne {
  margin-left: 26px;
  align-self: center;
  justify-content: space-between;
}


.table {
  display: flex;
  @include default();
  flex-direction: column;
  width: 100%;

  overflow-x: auto;
  align-items: center;
  position: relative;

  &Open {
    min-height: 550px;
  }

  .rowTable {
    @include default();
    @include regular-text(16px, 16px, $mainBlack);
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $lightGrey;
    height: 24px;
    padding: 10px 0 10px 0;
    width: 100%;

    &Header {
      @include regular-text(16px, 16px, $textGrey);
    }
  }

  .item {
    display: flex;
    @include default();
    padding-right: 5.88%;
    text-align: left;
    align-self: center;

    &:nth-child(1) {
      min-width: 60px;
    }

    &:nth-child(2) {
      min-width: 120px;
    }

    &:nth-child(3) {
      min-width: 120px;
      // padding: 0;
      // overflow: hidden;
      // text-overflow: ellipsis;
      // white-space: nowrap;
    }

    &:nth-child(4) {
      min-width: 240px;
    }

    &:nth-child(5) {
      min-width: 120px;
    }

    &:nth-child(6) {
      min-width: 60px;
    }

    &:nth-child(7) {
      min-width: 120px;
    }

    &:nth-child(8) {
      min-width: 120px;
    }

    &:nth-child(9) {
      min-width: 180px;
    }
  }

  .link {
    color: $fileActiv;
  }
}

.titleBlock {
  display: flex;
}

.buttonBlock {
  display: flex;
  width: 68px;
  height: 24px;
  justify-content: space-between;
}

.buttonTrans {
  @include defaultButton();
  background-color: $backgroundColorWhite;
}

.button {
  @include defaultButton();
  position: sticky;
  left: 0;
  opacity: 0.8;
  border-radius: 8px;
  display: flex;
  width: 209px;
  height: 54px;
  padding: 16px;
  box-sizing: border-box;
  background-color: $lightBlue;
  justify-content: center;
  align-items: center;
  @include bold-text(18px, 24px, $white);
  margin: 30px 0;
}